/* Cascading Style Sheet*/
/* CSS-3 */
/* color combinations
 #D99437, #23B7D9, #1FA65A, #F2E2CE, #8176D7 */
 /*The palette for my website I used a navy background and light text for a contrast, and bright accents. I used #0F172A, #1E293B, #F1F5F9, #2DD4BF*/
@charset "UTF-8";

video
{
    margin: 15px;
    padding: 15px;
    background-color: #000000;
    border: 2px white solid;
    box-shadow: 10px 10px 5px black;
}

button
{
    margin: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    height: 40px;
    border: 2px white solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
}

button:hover
{
    margin: 15px;
    padding: 5px;
    background-color: beige;
    color: black;
    height: 40px;
    border: 2px white solid;
    box-shadow: -10px -10px 5px black;
    border-radius: 5px;
}

#wrapper
{
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color:#0F172A;
}

header,footer
{
    background-color: #1E293B;
    color: #F1F5F9;
    padding-top: 5px;
    padding-bottom: 5px;
}

figure
{
    position: relative;
    width: 220px;
    /*removed the height rule to allow the image to fit in the section*/
    background-color: #1E293B;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
img
{
    width: 220px;
}

#right-column
{
    width: 100%;
    /*we used auto for the margin-left and right, so I see it can be applied to height as well to make the design fluid like I've been doing*/
    height: auto;
    float:none;
    background-color: #0F172A;
}
#left-column
{
    /*changing from a set pixel height to a fluid design, using auto*/
/* making the height auto to have once again a fluid design*/
    width: 100%;
    height: auto;
    float:none;
    background-color: #1E293B;
}
h1,h2,h3,h4,h5,h6,p,li {
    margin: 15px;
    color: #F1F5F9;
}
#footer
{
    height: auto;
}
.clear
{
    clear: both;
}
#banner
{
    /*used the angled gradient method shown in week 1. Applied to every css file*/
    height:120px;
    background: linear-gradient(-45deg, #1E293B 0%, #334155 100%);
}
#banner h1{
    padding-top: 15px;
    color: white;
}
body{
    font-family:JetBrains Mono;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #1E293B 0%, #334155 100%);
    /*found a blue gradient type that I like for the desktop*/
}
/*copied from tablet.css, then changed them to be full width for desktop */
.button {
    font-size: x-large;
    text-decoration: none;
    background-color: #0F172A;
    /*added a color for the links*/
    color: lightblue;
    display: block;
    width: auto;
    float: none;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px gray;
    /*took the hover effect shown in class for the buttons and having them turn grey whe selected.*/
}
/*created a rule so that I could change the colour of the email link, since it was using the default link colour which was hard to see.*/
.emaillink {
    color: lightblue;
    text-decoration: none;
}

.button:hover {
    box-shadow: 5px 5px 3px black;
}

/*used the example in week 4 to make a fixed position copyright notice, the old one was just in the panel*/
#copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    margin: 0;
}