/* Cascading Style Sheet*/
/* CSS-3 */
/* color combinations
 #D99437, #23B7D9, #1FA65A, #F2E2CE, #8176D7 */
@charset "UTF-8";

video
{
    margin: 15px;
    padding: 15px;
    background-color: #000000;
    border: 2px white solid;
    box-shadow: 10px 10px 5px black;
}

button
{
    margin: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    height: 40px;
    border: 2px white solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
}

button:hover
{
    margin: 15px;
    padding: 5px;
    background-color: beige;
    color: black;
    height: 40px;
    border: 2px white solid;
    box-shadow: -10px -10px 5px black;
    border-radius: 5px;
}

#wrapper
{
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color:#D99437;
}

header,footer
{
    background-color: white;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
aside
{
    background-color: beige;
    float: right;
    width: 300px;
    margin: 5px;
    padding: 5px;
}
figure
{
    position: relative;
    width: 220px;
    height: 200px;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
img
{
    width: 220px;
}
figcaption
{
    position: bottom;
    background-color: #000000;
    color: aliceblue;
}
#right-column
{
    width: 600px;
    height: 600px;
    float:right;
    background-color: antiquewhite;
}
#left-column
{
    width: 360px;
    height: 600px;
    float:left;
    background-color: silver;
}
h1,h2,h3,h4,h5,h6,p,li {
    margin: 15px;
    color: #1FA65A;
}
#footer
{
    height: 80px;
}
.clear
{
    clear: both;
}
#banner
{
    height:120px;
    background-color: grey;
}
#banner h1{
    padding-top: 15px;
    color: #1FA65A;
}
body{
    font-family:JetBrains Mono;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, red 0%,yellow 100%);
}
.box
{
    height: 150px;
    width: 150px;
    float: left;
    background-color: tan;
    margin: 15px;
    opacity: .5;
    border-radius: 25px 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+40,000000+77 */
background: radial-gradient(ellipse at center,  #45484d 40%,#000000 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.box:hover
{
    background-color: white;
    opacity: 1;
}