@media only screen and (max-width : 480px) {
    body {
        color: white;
        background-color: #0F172A;
        font-family: Verdana, Geneva, Arial, sans-serif;
        padding: 0px;
        margin: 0px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        margin-left: 15px;
        margin-top: 0px;
    }
/*changed each part of the phone css to match teh colour scheme of full.css and have no set height to use responsive design*/
    #wrapper {
        width: 100%;
    }

    #right-column {
        width: 100%;
        float: none;
        background-color: #0F172A;
    }

    #left-column {
        float: none;
        width: 100%;
        background-color: #1E293B;
    }

    #footer {
        background-color: #1E293B;
    }

    #banner {
        height: 100px;
    background: linear-gradient(-45deg, #1E293B 0%, #334155 100%);
    }

    .button {
        font-size: x-large;
        text-decoration: none;
        background-color: #0F172A;
        color: lightblue;
        display: block;
        width: auto;
        float: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 3px gray;
    }

    .button:hover {
        box-shadow: 5px 5px 3px black;
    }
    .emaillink {
        color: lightblue;
        text-decoration: none;
    }
    /*added this img rule from full.css to keep the picture size consistent as it would take up the entire page when you are on a phone screen*/
    img
    {
        width: 220px;
    }

}