@charset "UTF-8";
/*adapting the tablet and smartphone css files from the lectures to match the colour scheme of the desktop version*/
body {
    color: white;
    background-color: #0F172A;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,li {
    margin-left: 15px;
    margin-top: 0px;
}
/*modified each part of the tablet css to match the colour scheme and have no set height.*/
#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F172A;
}

#right-column {
    float: none;
    background-color: #0F172A;
}

#left-column {
    float: none;
    background-color: #1E293B;
}

#footer {
    background-color: #1E293B;
}

#banner {
    height: 60px;
    background: linear-gradient(-45deg, #1E293B 0%, #334155 100%);
}

.box {
    width: 45%;
    min-height: 120px;
    float: left;
    background-color: black;
    margin: 15px;
    opacity: 1;
}

.button {
    font-size: x-large;
    text-decoration: none;
    background-color: #0F172A;
    color: lightblue;
    display: block;
    width: auto;
    float: none;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px gray;
}

.button:hover {
    box-shadow: 5px 5px 3px black;
}

.clear {
    clear: both;
}

.emaillink {
    color: lightblue;
    text-decoration: none;
}

img
{
    width: 220px;
}